/* Globales */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
}
.seccion-oscura{
    color: white;
    background-color: #002333 ;
}

.seccion-clara{
    color: black;
    background-color: white;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Roboto', cursive;
}

.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion-texto{
    font-size: 1.2rem;
}

.texto-negro{
    color: black;
}

.texto-blanco{
    color: white;
}
/* Navbar */

.navbar{
    padding: 1rem;
    background-color: f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}



/* Hero */
.hero {
    height: 540px; 
    overflow: hidden;
    
}
.carousel-item{
    height: 100vh;
}


.carousel-item img {
    object-fit: cover; 
    height: 100%;
    width: 100%;
}

.hero-text {
    z-index: 10; 
}

.carousel-inner {
    z-index: 1; 
}

.hero-text h1, .hero-text p {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}

.nombre{
    font-size: 4.5rem;
    font-weight: 700;
}
.frase{
    font-size: 2rem;
    font-weight: 300;
}

/* sobre mi */


.sobre-mi{
    height: 500px;
    padding: 10px;
}

.sobre-mi .contenedor{
    max-width: 600px;
    text-align: center;
}
/* Experiencuia */

.experiencia{
    padding: 40px 40px 60px 40px; 
    
}

.experiencia .columna{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in;
    background-color: white;
    
}

.experiencia .card {
    transition: background-color 0.5s ease; 
}

.experiencia .card:hover {
    background-color: #DEEFE7;
    cursor: pointer;
}

.experiencia i {
    font-size: 2.5rem;
    color: #DEEFE7;
    background-color: #002333 ;
    padding: 10px 20px;
    
    
}   

.exp-titulo{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.exp-laboral li{
    list-style: none;
}

.badges-contender{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge{
    margin: 5px;
}



/* Seccion contacto */

.contacto .container{
    max-width: 1100px;
    min-height: 100px;
    padding: 20px;

}

.rectangulo{
    margin-top: -4rem;
    background-color: #159A9C;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 1px rgb(173, 172, 172);
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;

}

.contacto .descripcion{
    color: white;
    font-size: 1.3rem;
}

.contacto form{
    
    text-align: start;
}

.contacto input, textarea{
    padding-bottom: 1rem;
}

.contacto button{
    align-items:center;
}
#contacto{
    font-family: 'Roboto', sans-serif;
}

/* Footer */

footer{
    min-height: 400px;
    padding-top: 100px;
}

.footer-icon{
    font-size: 5rem;
    margin: 10px;
}

.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: "Quicksand", sans-serif;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid #159A9C;

}

.iconos-redes-sociales a:hover i{
    color: black;
}

.derechos-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#scrollToTop i{
    font-size: 25px;
}

#scrollToTop:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

/* Diseño responsivo */
@media screen and (max-width: 400px) {
    .overlay p{
        font-size: 20px;
    }
    .overlay i{
        font-size: 40px;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    
}

@media screen and (min-width: 700px) {
    .hero-inferior-img{
        max-width: 600px;
    }
   
}